.root {
  display: flex;
  flex-direction: column;
  padding: 20px 25px 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.title {
  margin: 0 0 5px;
  padding-top: 20px;
}
.name {
  max-width: 573px;
}
.text {
  max-width: 573px;
  height: 61px;
}
.submitButton {
  height: 40px;
  width: 165px;
  border: 1px solid #f0ad4e;
  border-radius: 4px;
  font-size: 14px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  color: #f0ad4e;
  text-transform: uppercase;
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 25px;
  transition: 0.2s all;
  cursor: pointer;
}
.submitButton:hover {
  border-color: #ffd25d;
  opacity: 0.8;
}
