.root {
    display: flex;
    align-items: center;
}

.actions {
    margin: 10px;
    display: flex;
    align-items: center;
}

.count {
    margin: 0 5px;
}

.action {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 20px;
    height: 20px;
}
