.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #000;
}

.logoLink {
  margin-left: 20px;
  margin-right: auto;
}

.logo {
  height: 18px;
  width: 115px;
}

.themeSwitcher {
 margin-left: auto;
  margin-right: 20px;
}

.basketLink, .restaurantsLink {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.basketLink {
  margin-right: 30px;
}

.restaurantsLink {
  margin-right: 30px;
}