.root {
  border: none;
  background: inherit;
  font-size: 18px;
  padding: 10px;
    color: black;
    text-decoration: none;
}

.root.selected {
   border-bottom: 1px solid black;
   padding-bottom: 9px;
 }

.root:hover {
   border-bottom: 2px solid black;
   padding-bottom: 8px;
   cursor: pointer;
 }


.dark {
    color: white;
}
.light {
    color: black;
}